<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body class="font-body bg-gray-100">
    <div class="container mt-16 px-4">
      <h1 class="mb-4">E-commerce Theme</h1>
      <div class="flex flex-col mb-10">
        <span class="text-sm text-gray-400">Pages</span>
        <div
          class="bg-white px-4 py-8 md:py-12 md:px-14 lg:py-14 flex gap-x-10 gap-y-16 flex-wrap"
        >
          <ul>
            <li><a href="./main.html" class="no-underline">Main Page</a></li>
            <li><a href="./ui.html" class="no-underline">UI KIT</a></li>
            <li><a href="./sections.html" class="no-underline">Sections</a></li>
            <li><a href="./about.html" class="no-underline">About Page</a></li>
            <li>
              <a href="./category.html" class="no-underline">Categories Page</a>
            </li>
            <li>
              <a href="./product-view.html" class="no-underline"
                >Product View Page</a
              >
            </li>
            <li>
              <a href="./products.html" class="no-underline">Products Page</a>
            </li>
            <li><a href="./promo.html" class="no-underline">Promo page</a></li>
            <li>
              <a href="./search.html" class="no-underline">Search Page</a>
            </li>
            <li><a href="./404.html" class="no-underline">404 Page</a></li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col">
        <span class="text-sm text-gray-400">Stack</span>
        <div
          class="bg-white px-4 py-8 md:py-12 md:px-14 lg:py-14 flex gap-x-10 gap-y-16 flex-wrap"
        >
          <a
            href="https://tailwindcss.com"
            rel="noopener noreferrer"
            target="_blank"
          >
            <img src="./img/tailwind.svg" alt="" class="w-12 h-12" />
          </a>
          <a
            href="https://webpack.js.org"
            rel="noopener noreferrer"
            target="_blank"
          >
            <img src="./img/webpack.svg" alt="" class="w-12 h-12" />
          </a>
          <a
            href="https://sass-lang.com"
            rel="noopener noreferrer"
            target="_blank"
          >
            <img src="./img/sass.svg" alt="" class="w-12 h-12" />
          </a>
          <a
            href="https://nodejs.org/en"
            rel="noopener noreferrer"
            target="_blank"
          >
            <img src="./img/node.svg" alt="" class="w-12 h-12" />
          </a>
          <a
            href="https://www.w3schools.com/js/js_es6.asp"
            rel="noopener noreferrer"
            target="_blank"
          >
            <img src="./img/es6.svg" alt="" class="w-12 h-12" />
          </a>
          <img src="./img/js.svg" alt="" class="w-12 h-12" />
          <img src="./img/css3.svg" alt="" class="w-12 h-12" />
          <img src="./img/html.svg" alt="" class="w-12 h-12" />
        </div>
      </div>
    </div>
  </body>
</html>
