<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sections</title>
  </head>
  <body>
    <section class="bg-white">
      <div class="container px-4 py-8 md:py-12 lg:py-16">
        <div class="flex flex-col gap-x-10 gap-y-12">
          <div class="caption-text text-gray-600">Section Hero</div>
          <h1
            class="text-center relative after:content-[''] after:absolute after:w-[200px] after:h-[3px] after:bg-teal-600 after:-bottom-[24px] after:left-1/2 after:-translate-x-1/2"
          >
            Page Heading
          </h1>
          <p class="text-xl font-light lg:w-8/12 mx-auto text-center">
            Pellentesque auctor neque nec urna. Quisque rutrum. Integer
            tincidunt. Praesent ut ligula non mi varius sagittis.
          </p>
        </div>
      </div>
    </section>
    <section class="lg:h-[547px] relative">
      <div
        class="caption-text absolute left-4 top-2 lg:left-[135px] lg:top-16 z-20 text-gray-600"
      >
        HERO Widget - Overlay Light
      </div>
      <div class="mask mask-light"></div>
      <img
        src="./img/section-1.jpg"
        alt=""
        class="absolute -z-10 h-full w-full object-cover"
      />
      <div
        class="container lg:absolute lg:top-1/2 lg:left-1/2 lg:-translate-y-1/2 lg:-translate-x-1/2 px-4 py-8 md:py-12 lg:py-16 text-center flex flex-col gap-4 lg:w-5/12"
      >
        <div class="caption-text z-10">Trending Products</div>
        <div class="flex flex-col gap-8 z-50">
          <h1>New arrival from our collections</h1>
          <p class="leading-relaxed text-gray-600">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut magna,
            scelerisque vitae augue et, cursus placerat lorem. In nisi lacus,
            eleifend tincidunt quam et, consequat semper.
          </p>
          <div class="flex justify-center gap-6">
            <button class="btn btn-lg btn-primary">Shop Now</button>
            <button class="btn btn-lg btn-secondary-outline">Explore</button>
          </div>
        </div>
      </div>
    </section>
    <section class="lg:h-[547px] relative">
      <div
        class="caption-text absolute left-4 top-2 lg:left-[135px] lg:top-16 z-20 text-gray-300"
      >
        HERO Widget - Overlay Dark
      </div>
      <div class="mask mask-dark"></div>
      <img
        src="./img/section-1.jpg"
        alt=""
        class="absolute -z-10 h-full w-full object-cover"
      />
      <div
        class="lg:absolute lg:top-1/2 lg:left-1/2 lg:-translate-y-1/2 lg:-translate-x-1/2 container px-4 py-8 md:py-12 lg:py-16 text-center flex flex-col gap-4 lg:w-5/12"
      >
        <div class="caption-text text-teal-200 z-10">Trending Products</div>
        <div class="flex flex-col gap-8 z-50">
          <h1 class="text-white">New arrival from our collections</h1>
          <p class="leading-relaxed text-gray-100">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut magna,
            scelerisque vitae augue et, cursus placerat lorem. In nisi lacus,
            eleifend tincidunt quam et, consequat semper.
          </p>
          <div class="flex justify-center gap-6">
            <button class="btn btn-lg btn-primary">Shop Now</button>
            <button class="btn btn-lg btn-white-outline">Explore</button>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-white relative">
      <div class="container px-4 py-8 md:py-12 lg:py-16">
        <div class="flex items-center gap-y-12">
          <div
            class="caption-text absolute text-end left-4 top-2 lg:right-[100px] lg:top-16 z-20 text-gray-300 lg:text-gray-600"
          >
            HERO Widget - Image Left
          </div>
          <img
            src="./img/section-2.jpg"
            alt=""
            class="absolute lg:relative z-0 left-0 h-full w-full object-cover lg:w-4/12 lg:h-[550px] lg:rounded-lg"
          />
          <div class="mask mask-dark lg:hidden"></div>
          <div
            class="px-4 py-8 md:py-12 lg:py-16 lg:px-32 text-center flex flex-col gap-4 lg:basis-8/12"
          >
            <div class="caption-text text-teal-200 lg:text-teal-600 z-10">
              Trending Products
            </div>
            <div class="flex flex-col gap-8 z-50">
              <h1 class="text-white lg:text-black">
                New arrival from our collections
              </h1>
              <p class="leading-relaxed text-white lg:text-gray-700">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                magna, scelerisque vitae augue et, cursus placerat lorem. In
                nisi lacus, eleifend tincidunt quam et, consequat semper.
              </p>
              <div class="flex justify-center gap-6">
                <button class="btn btn-lg btn-primary">Shop Now</button>
                <button
                  class="btn btn-lg btn-white-outline lg:btn-secondary-outline"
                >
                  Explore
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-white relative">
      <div class="container px-4 py-8 md:py-12 lg:py-16">
        <div class="flex flex-row-reverse items-center gap-y-12">
          <div
            class="caption-text absolute text-end left-4 top-2 lg:left-[100px] lg:top-16 z-20 text-gray-300 lg:text-gray-600"
          >
            HERO Widget - Image Right
          </div>
          <img
            src="./img/section-3.jpg"
            alt=""
            class="absolute lg:relative z-0 left-0 h-full w-full object-cover lg:w-4/12 lg:h-[550px] lg:rounded-lg"
          />
          <div class="mask mask-dark lg:hidden"></div>
          <div
            class="px-4 py-8 md:py-12 lg:py-16 lg:px-32 text-center flex flex-col gap-4 lg:basis-8/12"
          >
            <div class="caption-text text-teal-200 lg:text-teal-600 z-10">
              Trending Products
            </div>
            <div class="flex flex-col gap-8 z-50">
              <h1 class="text-white lg:text-black">
                New arrival from our collections
              </h1>
              <p class="leading-relaxed text-white lg:text-gray-700">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                magna, scelerisque vitae augue et, cursus placerat lorem. In
                nisi lacus, eleifend tincidunt quam et, consequat semper.
              </p>
              <div class="flex justify-center gap-6">
                <button class="btn btn-lg btn-primary">Shop Now</button>
                <button
                  class="btn btn-lg btn-white-outline lg:btn-secondary-outline"
                >
                  Explore
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-white relative">
      <div class="container px-4 py-8 md:py-12 lg:py-16">
        <div class="flex items-center gap-y-12">
          <div
            class="caption-text absolute text-end left-4 top-2 lg:right-[170px] lg:top-24 z-20 text-gray-300 lg:text-gray-600"
          >
            Promo Widget - Image Left
          </div>
          <img
            src="./img/section-4.jpg"
            alt=""
            class="absolute lg:relative z-0 left-0 h-full w-full object-cover lg:w-6/12 lg:h-[550px] lg:rounded-bl lg:rounded-tl"
          />
          <div class="mask mask-dark lg:hidden"></div>
          <div
            class="px-4 py-8 md:py-12 lg:py-16 lg:px-20 text-center flex flex-col lg:justify-center gap-4 lg:w-1/2 lg:h-[550px] lg:border-t lg:border-r lg:border-b lg:rounded-tr-md lg:rounded-br-md"
          >
            <div
              class="caption-text lg:text-start text-teal-200 lg:text-teal-600 z-10"
            >
              Promotions
            </div>
            <div class="flex flex-col gap-8 z-50">
              <h1 class="text-white lg:text-black lg:text-start leading-[60px]">
                Summer Offers
              </h1>
              <p
                class="leading-relaxed lg:text-start text-white lg:text-gray-700"
              >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                magna, scelerisque vitae augue et, cursus placerat lorem. In
                nisi lacus, eleifend tincidunt quam et, consequat semper.
              </p>
              <div class="flex justify-center lg:justify-start gap-6">
                <button class="btn btn-lg btn-primary">Get the Deal</button>
                <button
                  class="btn btn-lg btn-white-outline lg:btn-secondary-outline"
                >
                  Explore
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-white relative">
      <div class="container px-4 py-8 md:py-12 lg:py-16">
        <div class="flex flex-row-reverse items-center">
          <div
            class="caption-text absolute text-end left-4 top-2 lg:left-[170px] lg:top-24 z-20 text-gray-300 lg:text-gray-600"
          >
            Promo Widget - Image Right
          </div>
          <img
            src="./img/section-5.jpg"
            alt=""
            class="absolute lg:relative z-0 left-0 h-full w-full object-cover lg:w-6/12 lg:h-[550px] lg:rounded-br lg:rounded-tr"
          />
          <div class="mask mask-dark lg:hidden"></div>
          <div
            class="px-4 py-8 md:py-12 lg:py-16 lg:px-20 text-center flex flex-col lg:justify-center gap-4 lg:w-1/2 lg:h-[550px] lg:border-t lg:border-l lg:border-b lg:rounded-tl-md lg:rounded-bl-md"
          >
            <div
              class="caption-text lg:text-start text-teal-200 lg:text-teal-600 z-10"
            >
              Promotions
            </div>
            <div class="flex flex-col gap-8 z-50">
              <h1 class="text-white lg:text-black lg:text-start leading-[60px]">
                30% Mega Sale
              </h1>
              <p
                class="leading-relaxed lg:text-start text-white lg:text-gray-700"
              >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                magna, scelerisque vitae augue et, cursus placerat lorem. In
                nisi lacus, eleifend tincidunt quam et, consequat semper.
              </p>
              <div class="flex justify-center lg:justify-start gap-6">
                <button class="btn btn-lg btn-primary">Get the Deal</button>
                <button
                  class="btn btn-lg btn-white-outline lg:btn-secondary-outline"
                >
                  Explore
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="lg:h-[547px] relative">
      <div
        class="caption-text absolute left-4 top-2 lg:left-[135px] lg:top-16 z-20 text-gray-300"
      >
        Call to Action Widget - Image
      </div>
      <div class="mask mask-dark"></div>
      <img
        src="./img/section-6.jpg"
        alt=""
        class="absolute -z-10 h-full w-full object-cover"
      />
      <div
        class="container lg:absolute lg:top-1/2 lg:left-1/2 lg:-translate-y-1/2 lg:-translate-x-1/2 px-4 py-14 lg:py-16 text-center flex flex-col gap-4 lg:w-5/12"
      >
        <div class="flex flex-col gap-8 z-50">
          <h1
            class="text-center mb-8 leading-[60px] text-white relative after:content-[''] after:absolute after:w-[200px] after:h-[3px] after:bg-teal-600 after:-bottom-[24px] after:left-1/2 after:-translate-x-1/2"
          >
            Get inspired by our new catalogue
          </h1>
          <p class="leading-relaxed text-white text-lg">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut magna,
            scelerisque vitae augue et, cursus placerat lorem. In nisi lacus,
            eleifend tincidunt quam et, consequat semper.
          </p>
          <div class="flex justify-center gap-8">
            <button class="btn btn-lg btn-primary">Download</button>
            <button class="btn btn-lg btn-white-outline">Explore</button>
          </div>
        </div>
      </div>
    </section>
    <section class="lg:h-[547px] relative bg-teal-800">
      <div
        class="caption-text absolute left-4 top-2 lg:left-[135px] lg:top-16 z-20 text-gray-300"
      >
        Call to Action Widget - Color Dark
      </div>
      <div
        class="container lg:absolute lg:top-1/2 lg:left-1/2 lg:-translate-y-1/2 lg:-translate-x-1/2 px-4 py-14 lg:py-16 text-center flex flex-col gap-4 lg:w-5/12"
      >
        <div class="flex flex-col gap-8 z-50">
          <h1
            class="text-center mb-8 leading-[60px] text-white relative after:content-[''] after:absolute after:w-[200px] after:h-[3px] after:bg-teal-600 after:-bottom-[24px] after:left-1/2 after:-translate-x-1/2"
          >
            Get inspired by our new catalogue
          </h1>
          <p class="leading-relaxed text-white text-lg">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut magna,
            scelerisque vitae augue et, cursus placerat lorem. In nisi lacus,
            eleifend tincidunt quam et, consequat semper.
          </p>
          <div class="flex justify-center gap-8">
            <button class="btn btn-lg btn-primary">Download</button>
            <button class="btn btn-lg btn-white-outline">Explore</button>
          </div>
        </div>
      </div>
    </section>
    <section class="lg:h-[547px] relative bg-teal-50">
      <div
        class="caption-text absolute left-4 top-2 lg:left-[135px] lg:top-16 z-20 text-gray-600"
      >
        Call to Action Widget - Color Dark
      </div>
      <div
        class="container lg:absolute lg:top-1/2 lg:left-1/2 lg:-translate-y-1/2 lg:-translate-x-1/2 px-4 py-14 lg:py-16 text-center flex flex-col gap-4 lg:w-5/12"
      >
        <div class="flex flex-col gap-8 z-50">
          <h1
            class="text-center mb-8 leading-[60px] text-gray-700 relative after:content-[''] after:absolute after:w-[200px] after:h-[3px] after:bg-teal-600 after:-bottom-[24px] after:left-1/2 after:-translate-x-1/2"
          >
            Get inspired by our new catalogue
          </h1>
          <p class="leading-relaxed text-gray-600 text-lg">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut magna,
            scelerisque vitae augue et, cursus placerat lorem. In nisi lacus,
            eleifend tincidunt quam et, consequat semper.
          </p>
          <div class="flex justify-center gap-8">
            <button class="btn btn-lg btn-primary">Download</button>
            <button class="btn btn-lg btn-secondary-outline">Explore</button>
          </div>
        </div>
      </div>
    </section>
    <section class="py-12 lg:py-16 relative">
      <div
        class="caption-text text-gray-600 absolute top-4 left-4 lg:top-8 lg:left-16"
      >
        Product View
      </div>
      <div class="container px-4">
        <div class="grid grid-cols-2 gap-8 md:gap-16">
          <div class="col-span-2 md:col-span-1">
            <div class="swiper swiper-product-view rounded-md mb-8">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper h-64 md:h-96 lg:h-[500px]">
                <!-- Slides -->
                <div class="swiper-slide">
                  <img
                    src="./img/product-view.jpg"
                    alt=""
                    class="h-full w-full object-cover"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    src="./img/product-view-2.jpg"
                    alt=""
                    class="h-full w-full object-cover"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    src="./img/product-view-3.jpg"
                    alt=""
                    class="h-full w-full object-cover"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    src="./img/product-view-4.jpg"
                    alt=""
                    class="h-full w-full object-cover"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    src="./img/product-view-5.jpg"
                    alt=""
                    class="h-full w-full object-cover"
                  />
                </div>
              </div>
            </div>
            <div class="swiper swiper-product-view-thumb">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper h-28 lg:h-52">
                <!-- Slides -->
                <div class="swiper-slide">
                  <img
                    src="./img/product-view.jpg"
                    alt=""
                    class="w-full h-full object-cover rounded-md"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    src="./img/product-view-2.jpg"
                    alt=""
                    class="w-full h-full object-cover rounded-md"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    src="./img/product-view-3.jpg"
                    alt=""
                    class="w-full h-full object-cover rounded-md"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    src="./img/product-view-4.jpg"
                    alt=""
                    class="w-full h-full object-cover rounded-md"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    src="./img/product-view-5.jpg"
                    alt=""
                    class="w-full h-full object-cover rounded-md"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-span-2 md:col-span-1">
            <h2 class="text-5xl mb-6">Men's Regular Shirt</h2>
            <p class="text-gray-700 font-light mb-16">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non
              erat quam. Vestibulum aliquam nibh dui, et aliquet nibh euismod
              quis. Morbi non erat quam. Vestibulum aliquam nibh dui, et aliquet
              nibh euismod quis.
            </p>
            <div class="flex justify-between flex-wrap mb-8">
              <div class="flex flex-col gap-2">
                <span class="text-xl">Color</span>
                <span>Pure White</span>
              </div>
              <div class="flex flex-col gap-2">
                <span class="text-xl">Size</span>
                <span>XL</span>
              </div>
              <div class="flex flex-col gap-2">
                <span class="text-xl">Material</span>
                <span>Cotton</span>
              </div>
              <div class="flex flex-col gap-2">
                <span class="text-xl">Sleeves</span>
                <span>Long</span>
              </div>
            </div>
            <div class="divider mb-8"></div>
            <div class="flex flex-col items-center py-8">
              <div class="text-2xl text-gray-400 leading-[32px] mb-1">
                <s>$39.90</s>
              </div>
              <div class="text-teal-600 text-3xl leading-[36px] mb-1">
                $29.90
              </div>
              <div class="text-gray-400 mb-8">+12% VAT Added</div>
              <a href="#" class="btn btn-lg btn-primary w-full">Buy Now</a>
            </div>
            <div class="tab-container">
              <div class="tabs">
                <a class="tab active">Details</a>
                <a class="tab">Specification</a>
              </div>
              <div class="tab-panes">
                <div class="tab-pane active">
                  <p class="mb-3 text-gray-700">
                    Proin faucibus arcu quis ante. Maecenas nec odio et ante
                    tincidunt tempus. Curabitur ligula sapien, tincidunt non,
                    euismod vitae, posuere imperdiet, leo. Praesent turpis.
                    Maecenas vestibulum mollis diam.
                  </p>
                  <p class="text-gray-700">
                    In ut quam vitae odio lacinia tincidunt. Praesent
                    adipiscing. Praesent adipiscing. In dui magna, posuere eget,
                    vestibulum et, tempor auctor, justo. Ut a nisl id ante
                    tempus hendrerit. Maecenas nec odio et ante tincidunt
                    tempus. Curabitur ligula sapien, tincidunt non, euismod
                    vitae, posuere imperdiet, leo. Praesent turpis. Maecenas
                    vestibulum mollis diam.
                  </p>
                </div>
                <div class="tab-pane">
                  <div class="flex flex-col gap-4">
                    <div class="flex w-full">
                      <div class="font-bold basis-5/12">Proin faucibus</div>
                      <div class="basis-7/12">Proin faucibus</div>
                    </div>
                    <div class="flex w-full">
                      <div class="font-bold basis-5/12">Curabituria ligula</div>
                      <div class="basis-7/12">
                        Maecenas nec odio et ante tincidunt. Fragile smata.
                        Tincidunt maecenas nec odio et ante tincidunt
                      </div>
                    </div>
                    <div class="flex w-full">
                      <div class="font-bold basis-5/12">Marastal servantes</div>
                      <div class="basis-7/12">GPL</div>
                    </div>
                    <div class="flex w-full">
                      <div class="font-bold basis-5/12">
                        Faricinta faucibuser
                      </div>
                      <div class="basis-7/12">Caramansa stige faucibus</div>
                    </div>
                    <div class="flex w-full">
                      <div class="font-bold basis-5/12">Granita bordaris</div>
                      <div class="basis-7/12">123 g</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-12 lg:py-16 relative">
      <div
        class="caption-text text-gray-600 absolute top-4 left-4 lg:top-8 lg:left-16"
      >
        Cards grids
      </div>
      <div class="container px-4">
        <div class="flex flex-col gap-x-10 gap-y-12 mb-12">
          <h2
            class="text-center relative after:content-[''] after:absolute after:w-[200px] after:h-[3px] after:bg-teal-600 after:-bottom-[24px] after:left-1/2 after:-translate-x-1/2"
          >
            Related Products
          </h2>
          <p
            class="text-xl font-light lg:w-8/12 mx-auto text-center text-gray-600"
          >
            Pellentesque auctor neque nec urna. Quisque rutrum. Integer
            tincidunt. Praesent ut ligula non mi varius sagittis.
          </p>
        </div>
        <div class="grid grid-cols-12 gap-8">
          <div
            class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3 flex flex-col border rounded-md"
          >
            <img
              src="./img/cards-1.jpg"
              alt=""
              class="object-cover rounded-tl-md rounded-tr-md w-full h-[332px]"
            />
            <div
              class="py-6 px-4 bg-white flex flex-col gap-6 rounded-bl-md rounded-br-md"
            >
              <div class="text-xl font-normal">Product Name</div>
              <div class="flex items-center">
                <div class="text-xl text-teal-600 mr-2">$ 20.00</div>
                <div class="text-lg font-bold text-gray-400 mr-auto">
                  <s>$ 30.00</s>
                </div>
                <button class="btn btn-primary">Buy now</button>
              </div>
            </div>
          </div>
          <div
            class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3 flex flex-col border rounded-md"
          >
            <img
              src="./img/cards-2.jpg"
              alt=""
              class="object-cover rounded-tl-md rounded-tr-md w-full h-[332px]"
            />
            <div
              class="py-6 px-4 bg-white flex flex-col gap-6 rounded-bl-md rounded-br-md"
            >
              <div class="text-xl font-normal">Product Name</div>
              <div class="flex items-center">
                <div class="text-xl text-teal-600 mr-auto">$ 20.00</div>
                <button class="btn btn-primary">Buy now</button>
              </div>
            </div>
          </div>
          <div
            class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3 flex flex-col border rounded-md"
          >
            <img
              src="./img/cards-3.jpg"
              alt=""
              class="object-cover rounded-tl-md rounded-tr-md w-full h-[332px]"
            />
            <div
              class="py-6 px-4 bg-white flex flex-col gap-6 rounded-bl-md rounded-br-md"
            >
              <div class="text-xl font-normal">Product Name</div>
              <div class="flex items-center">
                <div class="text-xl text-teal-600 mr-2">$ 20.00</div>
                <div class="text-lg font-bold text-gray-400 mr-auto">
                  <s>$ 30.00</s>
                </div>
                <button class="btn btn-primary">Buy now</button>
              </div>
            </div>
          </div>
          <div
            class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3 flex flex-col border rounded-md"
          >
            <img
              src="./img/cards-4.jpg"
              alt=""
              class="object-cover rounded-tl-md rounded-tr-md w-full h-[332px]"
            />
            <div
              class="py-6 px-4 bg-white flex flex-col gap-6 rounded-bl-md rounded-br-md"
            >
              <div class="text-xl font-normal">Product Name</div>
              <div class="flex items-center">
                <div class="text-xl text-teal-600 mr-2">$ 20.00</div>
                <div class="text-lg font-bold text-gray-400 mr-auto">
                  <s>$ 30.00</s>
                </div>
                <button class="btn btn-primary">Buy now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-12">
          <button class="btn btn-lg btn-secondary-outline">Explore All</button>
        </div>
      </div>
    </section>
    <section class="py-12 lg:py-16 relative">
      <div
        class="caption-text text-gray-600 absolute top-4 left-4 lg:top-8 lg:left-16"
      >
        Masonry Product Grid
      </div>
      <div class="container px-4">
        <div class="flex flex-col gap-x-10 gap-y-12 mb-12">
          <h2
            class="text-center relative after:content-[''] after:absolute after:w-[200px] after:h-[3px] after:bg-teal-600 after:-bottom-[24px] after:left-1/2 after:-translate-x-1/2"
          >
            Featured Products
          </h2>
          <p
            class="text-xl font-light lg:w-8/12 mx-auto text-center text-gray-600"
          >
            Pellentesque auctor neque nec urna. Quisque rutrum. Integer
            tincidunt. Praesent ut ligula non mi varius sagittis.
          </p>
        </div>
        <div class="grid grid-cols-12 gap-8">
          <div
            class="col-span-12 md:col-span-6 lg:col-span-4 flex flex-col border rounded-md"
          >
            <img
              src="./img/cards-8.jpg"
              alt=""
              class="object-cover rounded-tl-md rounded-tr-md w-full h-[332px]"
            />
            <div
              class="py-6 px-4 bg-white flex flex-col gap-6 rounded-bl-md rounded-br-md"
            >
              <div class="text-xl font-normal">Product Name</div>
              <div class="flex items-center">
                <div class="text-xl text-teal-600 mr-2">$ 20.00</div>
                <div class="text-lg font-bold text-gray-400 mr-auto">
                  <s>$ 30.00</s>
                </div>
                <button class="btn btn-primary">Buy now</button>
              </div>
            </div>
          </div>
          <div
            class="col-span-12 md:col-span-6 lg:col-span-8 flex flex-col border rounded-md"
          >
            <img
              src="./img/cards-9.jpg"
              alt=""
              class="object-cover rounded-tl-md rounded-tr-md w-full h-[332px]"
            />
            <div
              class="py-6 px-4 bg-white flex flex-col gap-6 rounded-bl-md rounded-br-md"
            >
              <div class="text-xl font-normal">Product Name</div>
              <div class="flex items-center">
                <div class="text-xl text-teal-600 mr-2">$ 320.00</div>
                <div class="text-lg font-bold text-gray-400 mr-auto">
                  <s>$ 400.00</s>
                </div>
                <button class="btn btn-primary">Buy now</button>
              </div>
            </div>
          </div>
          <div
            class="col-span-12 md:col-span-6 lg:col-span-8 flex flex-col border rounded-md"
          >
            <img
              src="./img/cards-10.jpg"
              alt=""
              class="object-cover rounded-tl-md rounded-tr-md w-full h-[332px]"
            />
            <div
              class="py-6 px-4 bg-white flex flex-col gap-6 rounded-bl-md rounded-br-md"
            >
              <div class="text-xl font-normal">Product Name</div>
              <div class="flex items-center">
                <div class="text-xl text-teal-600 mr-auto">$ 220.00</div>
                <button class="btn btn-primary">Buy now</button>
              </div>
            </div>
          </div>
          <div
            class="col-span-12 md:col-span-6 lg:col-span-4 flex flex-col border rounded-md"
          >
            <img
              src="./img/cards-11.jpg"
              alt=""
              class="object-cover rounded-tl-md rounded-tr-md w-full h-[332px]"
            />
            <div
              class="py-6 px-4 bg-white flex flex-col gap-6 rounded-bl-md rounded-br-md"
            >
              <div class="text-xl font-normal">Product Name</div>
              <div class="flex items-center">
                <div class="text-xl text-teal-600 mr-2">$ 180.00</div>
                <div class="text-lg font-bold text-gray-400 mr-auto">
                  <s>$ 200.00</s>
                </div>
                <button class="btn btn-primary">Buy now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-12">
          <button class="btn btn-lg btn-secondary-outline">Explore All</button>
        </div>
      </div>
    </section>
    <section class="py-12 lg:py-16 relative">
      <div
        class="caption-text text-gray-600 absolute top-4 left-4 lg:top-8 lg:left-16"
      >
        Category grid
      </div>
      <div class="container px-4">
        <div class="flex flex-col gap-x-10 gap-y-12 mb-12">
          <h2
            class="text-center relative after:content-[''] after:absolute after:w-[200px] after:h-[3px] after:bg-teal-600 after:-bottom-[24px] after:left-1/2 after:-translate-x-1/2"
          >
            Shop by Category
          </h2>
          <p
            class="text-xl font-light lg:w-8/12 mx-auto text-center text-gray-600"
          >
            Pellentesque auctor neque nec urna. Quisque rutrum. Integer
            tincidunt. Praesent ut ligula non mi varius sagittis.
          </p>
        </div>
        <div class="grid grid-cols-12 gap-8">
          <div class="flex flex-col col-span-12 md:col-span-6 lg:col-span-3">
            <img
              src="./img/cards-12.jpg"
              alt=""
              class="object-cover rounded w-full h-80"
            />
            <div
              class="px-5 pt-5 bg-white flex flex-col gap-1 rounded-bl-md rounded-br-md"
            >
              <div class="text-xl leading-8 text-center">Watches</div>
              <div class="text-gray-600 text-center">12 Products Available</div>
            </div>
          </div>
          <div class="flex flex-col col-span-12 md:col-span-6 lg:col-span-3">
            <img
              src="./img/cards-13.jpg"
              alt=""
              class="object-cover rounded w-full h-80"
            />
            <div
              class="px-5 pt-5 bg-white flex flex-col gap-1 rounded-bl-md rounded-br-md"
            >
              <div class="text-xl leading-8 text-center">Man’s Clothing</div>
              <div class="text-gray-600 text-center">
                245 Products Available
              </div>
            </div>
          </div>
          <div class="flex flex-col col-span-12 md:col-span-6 lg:col-span-3">
            <img
              src="./img/cards-14.jpg"
              alt=""
              class="object-cover rounded w-full h-80"
            />
            <div
              class="px-5 pt-5 bg-white flex flex-col gap-1 rounded-bl-md rounded-br-md"
            >
              <div class="text-xl leading-8 text-center">Women’s Clothing</div>
              <div class="text-gray-600 text-center">
                318 Products Available
              </div>
            </div>
          </div>
          <div class="flex flex-col col-span-12 md:col-span-6 lg:col-span-3">
            <img
              src="./img/cards-15.jpg"
              alt=""
              class="object-cover rounded w-full h-80"
            />
            <div
              class="px-5 pt-5 bg-white flex flex-col gap-1 rounded-bl-md rounded-br-md"
            >
              <div class="text-xl leading-8 text-center">Jewellery</div>
              <div class="text-gray-600 text-center">58 Products Available</div>
            </div>
          </div>
        </div>
        <div class="text-center mt-12">
          <button class="btn btn-lg btn-primary">Explore all Categories</button>
        </div>
      </div>
    </section>
    <section class="py-12 lg:py-16 relative">
      <div
        class="caption-text text-gray-600 absolute top-4 left-4 lg:top-8 lg:left-16"
      >
        Customer Review
      </div>
      <div class="container px-4">
        <div class="flex flex-col gap-x-10 gap-y-12 mb-12">
          <h2 class="text-center">Customer Reviews</h2>
          <div
            class="grid grid-cols-2 lg:grid-cols-12 bg-teal-50 p-8 lg:p-[72px] gap-8 lg:gap-[72px] rounded-md border border-teal-300 relative"
          >
            <div class="col-span-2 lg:col-span-5">
              <img
                src="./img/avatar.jpg"
                alt=""
                class="rounded-full w-60 h-60 lg:w-96 lg:h-96 object-cover block mx-auto"
              />
            </div>
            <div class="col-span-2 lg:col-span-7 flex flex-col justify-center">
              <p class="mb-8 text-gray-700 text-lg">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                magna, scelerisque vitae augue et, cursus placerat lorem. In
                nisi lacus, eleifend tincidunt quam et, consequat semper. Ut
                magna, scelerisque vitae augue et, cursus placerat lorem. In
                nisi lacus, eleifend tincidunt quam et, consequat semper.
              </p>
              <div class="text-teal-600 font-bold">Jane Doe</div>
              <div class="text-gray-700 text-sm">Lorem ipsum</div>
            </div>
            <svg
              viewBox="0 0 183 166"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="stroke-none w-24 lg:w-48 h-auto absolute bottom-8 right-12 lg:bottom-[66px] lg:right-[57px]"
            >
              <path
                d="M117.6 165.6C162.6 109.2 183 71.4 183 46.2C183 32.4 177 22.8 161.4 12.6L142.8 0L109.2 42L129.6 56.4C138 62.4 141 67.8 141 75C141 90 126.6 118.8 95.4 154.8L117.6 165.6ZM22.2 165.6C67.2 109.2 87.6 71.4 87.6 46.2C87.6 32.4 81.6 22.8 66 12.6L47.4 0L13.8 42L34.2 56.4C42.6 62.4 45.6 67.8 45.6 75C45.6 90 31.2 118.8 0 154.8L22.2 165.6Z"
                fill="#B2EFEE"
              />
            </svg>
          </div>
        </div>
      </div>
    </section>
    <section class="section-text py-12 lg:py-16 relative">
      <div
        class="caption-text text-gray-600 absolute top-4 left-4 lg:top-8 lg:left-16"
      >
        Section text
      </div>
      <div class="container px-4 lg:px-52 xl:px-80">
        <h2 class="text-5xl">Lorem ipsum dolor</h2>
        <p>
          Proin faucibus arcu quis ante. Maecenas nec odio et ante tincidunt
          tempus. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere
          imperdiet, leo. Praesent turpis. Maecenas vestibulum mollis diam.
        </p>
        <p>
          In ut quam vitae odio lacinia tincidunt.
          <a href="#">Praesent adipiscing</a> in dui magna, posuere eget,
          vestibulum et, tempor auctor, justo. Ut a nisl id ante tempus
          hendrerit. Maecenas nec odio et ante tincidunt tempus. Curabitur
          ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo.
          Praesent turpis. Maecenas vestibulum mollis diam.
        </p>
        <ul>
          <li>Proin faucibus</li>
          <li>Curabitur ligula sapien</li>
          <li>Maecenas vestibulum</li>
          <li>Praesent adipiscing</li>
        </ul>
        <p>
          Vitae odio lacinia tincidunt. Praesent adipiscing. Praesent
          adipiscing. In dui magna, posuere eget, vestibulum et, tempor auctor,
          justo. Ut a nisl id ante tempus hendrerit.
        </p>
        <h3 class="text-3xl">Maecenas nec odio</h3>
        <p>
          Proin faucibus arcu quis ante. Maecenas nec odio et ante tincidunt
          tempus. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere
          imperdiet, leo. Praesent turpis. Maecenas vestibulum mollis diam.
        </p>
        <img src="./img/section-text-1.jpg" alt="" />
        <p class="text-xs text-gray-600">
          Proin faucibus arcu quis ante. Maecenas nec odio et ante tincidunt
          tempus. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere
          imperdiet, leo. Praesent turpis. Maecenas vestibulum mollis diam.
        </p>
        <p>
          Proin faucibus arcu quis ante. Maecenas nec odio et ante tincidunt
          tempus. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere
          imperdiet, leo. Praesent turpis. Maecenas vestibulum mollis diam.
        </p>
        <h3 class="text-3xl">Praesent adipiscing</h3>
        <p>
          In ut quam vitae odio lacinia tincidunt. Praesent adipiscing. Praesent
          adipiscing. In dui magna, posuere eget, vestibulum et, tempor auctor,
          justo. Ut a nisl id ante tempus hendrerit. Maecenas nec odio et ante
          tincidunt tempus. Maecenas nec odio et ante tincidunt tempus.Curabitur
          ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo.
          Praesent turpis. Maecenas <a href="#">vestibulum</a> mollis diam.
        </p>
      </div>
    </section>
  </body>
</html>
